/*
    
    TABLE DES MATIERES
    -----------------

    1. Importations
    2. Box-sizing
    3. Valeurs maximales
    4. Clearfix
    5. Base
    6. Typographie
    7. Formulaires
    8. Boutons
    9. Layout ou Responsive

---------------------------------------------------------------------------- */

/*
	=Importations
---------------------------------------------------------------------------- */

@import "compass/typography/vertical_rhythm";
@import "compass/css3";
@import "compass/reset";
@import "partials/grid";
@import "partials/settings";

/*
	=Box-sizing

    NOTE
    ----
    Pour le support ie7 voir https://github.com/Schepp/box-sizing-polyfill
---------------------------------------------------------------------------- */

* { @include box-sizing(border-box); }

/*
	=Valeurs maximales
---------------------------------------------------------------------------- */

img, table, td, blockquote, code, pre, textarea, input, video {
    max-width: 100%;
}

/*
	=Clearfix
---------------------------------------------------------------------------- */

.clearfix:after { clear: both; content: ""; display: table; }
.clear { clear: both; }
.mod { overflow: hidden; }

/*
	=Base
---------------------------------------------------------------------------- */

body {
    color: $base-color;
    font-family: $base-font-family;
}

/*
	=Typographie
---------------------------------------------------------------------------- */

@import "partials/typography";

/*
	=Boutons
---------------------------------------------------------------------------- */

@import "partials/buttons";

/*
	=Formulaires
---------------------------------------------------------------------------- */

@import "partials/forms";

/*
	=Responsive
    
    NOTE :
    ------
    Dans le cas d'un projet non responsive, 
    on peut supprimer le répertoire "layouts" 
    et importer depuis "partials" 
    un fichier "_layout.scss"

---------------------------------------------------------------------------- */

@import "layouts/small";

/*
	=Responsive (480px)
---------------------------------------------------------------------------- */

@media (max-width: 480px) { @import "layouts/medium"; }

/*
	=Responsive (768px)
---------------------------------------------------------------------------- */

@media (max-width: 768px) { @import "layouts/large";}
