/*
    =Layout
---------------------------------------------------------------------------- */

hr {
    background-color: #ccc;
    border: 0;
    color: #ccc;
    height: 1px;
    margin: 2em auto;
    padding: 0;
}

.wrapper {
    width: 280px;
    margin: 30px auto;

    @media (min-width: 480px) {
        width: 420px;
    }

    @media (min-width: 960px) {
        width: 940px;
    }
}